.home-nav {
    display: flex;
    justify-content: space-around;
    padding-top: 49px;
    padding-bottom: 30px;
    background: radial-gradient(39.38% 39.33% at 50.97% -5.49%, #3E3E3E 0%, #000 100%);
}

.home-container {
    background: #000;
}

.home-intro{
    color: #FFF;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.signup-free {
    margin-top: 20px;
    border-radius: 11px;
    border: 1px solid rgba(255, 255, 255, 0.34);
    background: radial-gradient(39.38% 39.33% at 50.97% -5.49%, #3E3E3E 0%, #000 100%);
    box-shadow: 1px 12px 16px 2px rgba(255, 255, 255, 0.11);
    color: white;
    width: 196px;
    height: 53px;
}

.images-section {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.innerImage-section {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.img-heading {
    color: #FFF;
    text-align: center;
    font-family: 'Space Grotesk';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-section {
    display: flex;
    justify-content: center;
}

.card {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(20, 21, 30, 0.63);
    height: 169px;
    border-radius: 20px;
    flex-direction: row;
}

.inner-card-section {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 115px;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Space Grotesk';


}
.card .data-content {
    border-radius: "20px";
    background: 'rgba(217, 217, 217, 0.09)';
    backdrop-filter: 'blur(42px)';
    height: "259px";
    display:'flex';
    align-items: "center";
    width: "409px";
    justify-content: "center";
    padding-left: "10px";
}

.supercharge {
    margin-top: 165px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inner-supercharge {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    width: 50%;
    height: 168px;
    border-top: 2px solid #726565;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media screen and (min-width: 375px) and (max-width: 430px) {
    .home-container {
        background: #000;
        width: fit-content;
    }

    .into-section h1 {
        font-size: 25px;
    }

    .images-section {
        margin-top: 80px;
        display: flex;
        justify-content: center;
    }

    .innerImage-section {
        width: 50%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .img-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 33px;

    }

    .card {
        width: 69%;
        display: flex;
        flex-direction: column;
    }

    .inner-card-section {
        padding-bottom: 20px;
    }

    .inner-card-section.second-card-section{
        padding-top: 36px;
    }

    .inner-supercharge {
        width: 63%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .supercharge-descp {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .footer {
        width: 93%;
    }
    .footer-conainer {
        display: flex;
        align-items: center;
        padding-top: 25px;
        flex-direction: column;
    }

    .logo-header {
        min-width: 41vw;
    }
   
    .nav-link {
        min-width: 82vw;
    } 

    .nav-link.top-nav {
        min-width: 55vw;
    }

}

@media screen and (min-width: 431px) and (max-width: 1024px ) {
    .innerImage-section {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .card {
        width: 80%;
    }

    .inner-supercharge {
        width: 80%;
    }
}